<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
<%- contentFor('title') %>
Thông tin tài khoản
<%- contentFor('body') %>

<% if (updateSuccessfull === true) { %>
    <div class="mt-3">
        <%- include('./_widget/update-success-alert') %>
    </div>
<% }; %>

<div class="row mt-3">
    <div class="col-lg-3">
        <%# Tab điều hướng %>
        <div class="list-group" id="tab-button-list">
            <button type="button" id="tabPersonalInfo" class="list-group-item list-group-item-action active">Thông tin cá nhân</button>
            <button type="button" id="tabPassword" class="list-group-item list-group-item-action">Mật khẩu</button>
        </div>
    </div>

    <div class="col-lg-9" id="form-section">
        
        <%# Form Cập nhật thông tin cá nhân %>
        <form action="" method="post" name="accountForm" id="accountForm" class="">
            <div class="form-group">
                <label for="txtFullName">Họ tên</label>
                <input type="text" class="form-control" name="name" id="txtFullName" value="<%= user.name %>" >
            </div>
            <% if (user.role === 'Phóng viên') { %>
            <div class="form-group">
                <label for="txtNickname">Bút danh</label>
                <input type="text" class="form-control" name="nickName" id="txtNickname" value="<%= user.nickName %>">
            </div>
            <% }; %>

            <div class="form-group">
                <label for="txtEmail">Email liên hệ</label>
                <input type="email" class="form-control" name="email" id="txtEmail" value="<%= user.email %>">
            </div>

            <div class="form-group">
                <label for="txtBirthday">Ngày sinh</label>
                <input type="text" name="dateOfBirth" id="txtBirthday" class="form-control" value="<%= moment(user.dateOfBirth).format('L') %>">
            </div>

            <button type="submit" class="btn btn-outline-success float-right">Cập nhật thông tin</button>
        </form>

        <%# Form đổi mật khẩu %>
        <form action="/account/change-pass" method="post" name="changePasswordForm" id="changePasswordForm" class="d-none">
            <div class="form-group">
                <label for="currentPass">Mật khẩu hiện tại</label>
                <input type="password" class="form-control" name="password" id="currentPass" placeholder="****">
            </div>

            <div class="form-group">
                <label for="newPass">Mật khẩu mới</label>
                <input type="password" class="form-control" name="newPass" id="newPass" placeholder="****">
            </div>

            <div class="form-group">
                <label for="retypeNewPass">Nhập lại mật khẩu mới</label>
                <input type="password" class="form-control" name="retypeNewPass" id="retypeNewPass" placeholder="****">
            </div>

            <button type="submit" class="btn btn-outline-danger float-right">Đổi mật khẩu</button>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.vi.min.js"></script>
    
<script src="/javascripts/account-info.js"></script>