<link rel="stylesheet" href="/stylesheets/chuyen-muc.css">
<%- contentFor('title') %>
<%= category.name %>

<%- contentFor('body') %>
<h1 class="display-4 text-center my-3">
    <%= category.name %>
</h1>

<ul class="nav justify-content-center" id="sub-category-list">
    <% category.child.forEach(subCat => { %>
        <li class="nav-item">
            <a class="nav-link" href="<%= subCat.path %>"><%= subCat.name %></a>
        </li>        
    <% }); %>
</ul>

<div class="row mt-3">
    <div class="col" id="list-article">
        <%- include('_partial/article-list',{}) %>
        <%- include('_partial/paginator') %>
    </div> <!-- col-8-->

    <div class="col-xl-4 d-none d-xl-block" id="right-side">
    </div> <!-- col-4-->
</div>