<link rel="stylesheet" href="/stylesheets/tu-khoa-tim-kiem.css">

<%- contentFor('title') %>
<%= `${keyword} - Tìm kiếm từ khóa` %>   

<%- contentFor('body') %>
   <div class="row">
       <div class="col-auto mt-3">
           <div class="search-filter bg-light px-2 py-3 d-none d-md-block">
               <div class="font-weight-light">
                   <div class="text-uppercase font-weight-bold">Chế độ tìm kiếm</div>
                   <div class="form-check">
                       <input class="form-check-input" type="radio" id="exactly" name="search-mode" value="summary"<%= type==='summary'?' checked':''%>>
                       <label class="form-check-label" for="exactly">
                           Tìm chính xác
                       </label>
                   </div>
                   <div class="form-check">
                       <input class="form-check-input" type="radio" id="expand" name="search-mode" value="content"<%= type==='content'?' checked':''%>>
                       <label class="form-check-label" for="expand">
                           Tìm mở rộng
                       </label>
                   </div>
                   <div class="form-check">
                       <input class="form-check-input" type="radio" id="title" name="search-mode" value="title"<%= type==='title'?' checked':''%>>
                       <label class="form-check-label" for="title">
                           Tiêu đề
                       </label>
                   </div>
               </div>
           </div>
       </div>
       <% var n = articles.length; %>
       <div class="col-md-8 mt-3">
           <h2 id="key-word"><%= keyword %></h2>
           <h5 class="text-muted" id="total-result"><%= n %> kết quả phù hợp</h5>

           <div class="d-flex justify-content-between mt-5">
               <select class="custom-select" id="sort">
                   <option value=""<%= sortOrder === 'DESC'?' selected' : ''%>>Mới nhất</option>
                   <option value="ASC"<%= sortOrder === 'ASC' ? 'selected' : ''%>>Cũ nhất</option>
               </select>
                <% var parentCategories = categories; %>
               <select class="custom-select" id="category">
                   <option value="tất cả">Tất cả chuyên mục</option>
                   <% parentCategories.forEach(category => { %>
                      <option value="<%= category.name %>"><%= category.name %></option> 
                   <% }); %>
               </select>
           </div>

           <ul class="list-unstyled mt-4" id="article-list">
               <%# Thay site.articles bằng biến chứa dữ liệu thật khi có csdl %>
               <% articles.forEach((article) => { %>
                    <li class="my-3 overflow-auto">
                        <img src="<%- article.coverImageURL %>" class="mr-2 float-left" alt="...">
                        <p class="mb-0 article-title">
                            <a href="<%- concatToLink([article.title]) %>" class="font-weight-bold article-title">
                                <%- article.title %>
                            </a>
                        </p>
                        <p class="article-summary"><%- article.summary %></p>
                    </li>
               <% }); %>
           </ul>


       </div>
   </div>
   <%- include('_partial/paginator') %>
   <script src="/javascripts/tu-khoa-tim-kiem.js"></script>