<div id="most-viewed">
    <div class="d-flex justify-content-between">
        <div class="h3">XEM NHIỀU</div>
        <%- partial('_partial/simple-paginator') %>    
    </div>

    <% site.posts.forEach((post, index) => { %>
    <% if (index < 5) { %>
        <% if (index === 4) { %>    
            <div class="card">
        <% } else { %>
            <div class="card mb-3">
        <% } %>
        <div class="row no-gutters align-items-center">
            <div class="col-md-4">
                <div class="img-cont">
                    <%# 458 x 300 %>
                    <img data-src="<%- post.head_img %>" class="card-img lazyload" alt="...">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">
                        <a href="<%- post.categories.data[0].path %>" class="badge badge-primary mr-3"> <%- post.categories.data[0].name %> </a>
                        <%- post.date.format(config.date_format) %>
                    </h6>
                    <a href="<%- post.path %>" class="text-dark article-title">
                        <h5 class="card-title"> <%- post.title %> </h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <% }; %>
    <% }); %>
</div>