<div id="hot-article" class="my-3">
    <div class="h3">NỔI BẬT</div>
    <div class="row ">
        <div class="col-lg-8 pr-1">
            <div class="bd-example">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <% trendArticles.forEach((article, index) => { %>
                        <% if (index < 3) { %>
                        <div class="carousel-item <% if (index === 0) { %> <%= 'active' %> <% } %>">
                            <img data-src="<%= article.coverImageURL %>" class="d-block w-100 lazyload" height="600"
                                alt="...">
                            <div class="carousel-caption d-md-block">
                                <h6 class="text-light font-weight-light">
                                    <a href="<%= article.categoryPath %>" class="badge badge-primary mr-3"><%= article.category %></a>
                                    <%= moment(article.publicationDate).format(publicDateFormat) %>
                                </h6>
                                <a href="<%= concatToLink([article.title]) %>" class="text-light article-title">
                                    <h3><%= article.title %></h3>
                                </a>
                            </div>
                        </div>
                        <% }; %>
                        <% }); %>

                        <%# Chưa có bài viết %>
                        <% if (trendArticles.length === 0) {%>
                            <% for (var index = 0; index < 3; index++) { %>
                                <div class="carousel-item <% if (index === 0) { %> <%= 'active' %> <% } %>">
                                    <img data-src="https://dummyimage.com/600x400/918b91/ffffff&text=Image+not+found" class="d-block w-100 lazyload" height="600"
                                        alt="...">
                                    <div class="carousel-caption d-md-block">
                                        <h6 class="text-light font-weight-light">
                                            <a href="#" class="badge badge-primary mr-3"><%= 'Trống' %></a>
                                            <%= moment().format(publicDateFormat) %>
                                        </h6>
                                        <a href="#" class="text-light article-title">
                                            <h3><%= 'Trống' %></h3>
                                        </a>
                                    </div>
                                </div>                                
                            <% }; %>
                        <% }; %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pl-1 d-flex flex-column justify-content-between align-content-stretch">
            <% trendArticles.forEach((article, index) => { %>
            <% if ((index < 5) && (index > 2)) { %>
            <div class="trending-item">
                <img data-src="<%= article.coverImageURL %>" class="lazyload w-100" alt="">
                <div class="trending-caption">
                    <h6 class="text-light font-weight-light">
                        <a href="<%= article.categoryPath %>" class="badge badge-info mr-3"><%= article.category %></a>
                        <%= moment(article.publicationDate).format(publicDateFormat) %>
                    </h6>
                    <a href="<%= concatToLink([article.title]) %>" class="text-light article-title">
                        <h5><%= article.title %></h5>
                    </a>
                </div>
            </div>
            <% }; %>
            <% }); %>
            
            <%# Chưa có bài viết%>
            <% if (trendArticles.length < 3) { %>
                <% for (var index = 0; index < 2; index++) { %>
                <div class="trending-item">
                    <img data-src="https://dummyimage.com/600x400/918b91/ffffff&text=Image+not+found" class="lazyload w-100" alt="">
                    <div class="trending-caption">
                        <h6 class="text-light font-weight-light">
                            <a href="#" class="badge badge-info mr-3"><%= 'Trống' %></a>
                            <%= moment().format(publicDateFormat) %>
                        </h6>
                        <a href="#" class="text-light article-title">
                            <h5><%= 'Trống' %></h5>
                        </a>
                    </div>
                </div>
                <% }; %>            
            <% }; %>
        </div>
    </div>
</div>