<div id="top-10" class="my-5">
    <div class="d-flex justify-content-between">
        <div class="h3">TOP 10 CHUYÊN MỤC</div>
        <%- include('../_partial/simple-paginator') %>
    </div>

    <%# javascript forEach callback function: 
    https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach %>
    <div class="card-group">
        <% topCatArticles.forEach(function (article) { %>
        <div class="card">
            <div class="img-cont">
                <img data-src="<%= article.coverImageURL %>" class="card-img-top lazyload" alt="...">
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">
                    <a href="<%= concatToLink('category', article.categoryName) %>" class="badge badge-primary mr-3">
                        <%= article.categoryName %> </a>
                    <%= moment(article.publicationDate).format(publicDateFormat) %>
                </h6>
                <a href="<%= concatToLink(article.title) %>" class="text-dark article-title">
                    <h5 class="card-title"><%= article.title %></h5>
                </a>
            </div>
        </div>
        <% }); %>
        
        <%# Chưa có nội dung %>
        <% if (topCatArticles.length === 0) { %>
            <% for (var index = 0; index < 3; index++) { %>
            <div class="card">
                <div class="img-cont">
                    <img data-src="https://dummyimage.com/600x400/918b91/ffffff&text=Image+not+found" class="card-img-top lazyload" alt="...">
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">
                        <a href="#" class="badge badge-primary mr-3">
                            <%= 'Trống' %> </a>
                        <%= moment().format(publicDateFormat) %>
                    </h6>
                    <a href="#" class="text-dark article-title">
                        <h5 class="card-title"><%= 'Trống' %></h5>
                    </a>
                </div>
            </div>
            <% }; %>        
        <% }; %>
    </div>
</div>