<!-- Nội dung của phần thanh menu, tách ra file riêng để tái sử dụng ở nhiều file html-->
<!-- TODO: https://medium.com/@AmyScript/how-to-reduce-reuse-and-recycle-your-code-389e6742e4ac -->

<nav class="navbar navbar-expand-xl navbar-dark bg-primary px-1">
    <div class="container">
        <button class="navbar-toggler d-xl-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <%# console.log(rows); %>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav">
                <% if (isHome === true) { %>
                    <li class="nav-item active" id="home">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                <% } else { %>
                    <li class="nav-item" id="home">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                <% }; %>
                <% var currentCategory = category; %>
                <% categories.forEach(category => { %>
                    <% if ((currentCategory !== null) && (currentCategory.id === category.id || currentCategory.parentID === category.id)) { %>
                    <li class="nav-item dropdown active" id="<%= category.id %>">
                        <a class="nav-link dropdown-toggle" href="<%= category.path %>" id="dropdownId"><%= category.name %></a>
                        <div class="dropdown-menu">
                            <% if (category.child.length === 0) { %>
                                <span class="dropdown-item-text">Trống</span>
                            <% } else { %>
                                <% category.child.forEach(subCategory => { %>
                                    <a class="dropdown-item" href="<%= subCategory.path %>"><%= subCategory.name %></a>
                                <% }); %>
                            <% } %>
                        </div>
                    </li>
                    <% } else { %>
                    <li class="nav-item dropdown" id="<%= category.id %>">
                        <a class="nav-link dropdown-toggle" href="<%= category.path %>" id="dropdownId"><%= category.name %></a>
                        <div class="dropdown-menu">
                            <% if (category.child.length === 0) { %>
                                <span class="dropdown-item-text">Trống</span>
                            <% } else { %>
                                <% category.child.forEach(subCategory => { %>
                                    <a class="dropdown-item" href="<%= subCategory.path %>"><%= subCategory.name %></a>
                                <% }); %>
                            <% } %>
                        </div>
                    </li>                    
                    <% }; %>
                <% }); %>

            </ul>
        </div>

        <!-- Ô tìm kiếm, thay đổi màu sắc ở thẻ button (nếu cần thiết) -->
        <form class="form-inline search-form ml-auto mr-1" id="search-form" action="/search">
            <div class="form-group">
                <input type="search" name="keyword" id="input-search" class="form-control"
                    placeholder="Nội dung tìm kiếm...">
                <button type="button" class="btn btn-secondary" id="search-btn">
                    <i class="fas fa-search center-right"></i>
                </button>
            </div>
        </form>

        

        <!-- Các menu chức năng của từng loại user -->
        <!-- Cần thay thế lớp d-none/d-block của từng loại user khi đăng nhập vào -->

        <!-- guest/chưa đăng nhập -->
        <div id="guestNavItem" class="navbar-nav navbar-right d-none">
            <div class="dropdown" id="guestDropdownMenu">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <span class="fa fa-user"></span></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Đăng nhập</a>
                    <a class="dropdown-item" href="#">Đăng kí</a>
                </div>
            </div>
        </div>

        <!-- Subscriber -->
        <div id="subscriberNavItem" class="navbar-nav navbar-right d-none">
            <div class="dropdown" id="subscriberDropdownMenu">
                <img src="#" class="rounded-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <div class="dropdown-menu dropdown-menu-right">
                    <span id="userName" class="dropdown-item-text"></span>
                    <a class="dropdown-item" href="#">Gia hạn</a>
                    <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                    <a class="dropdown-item" href="#">Cập nhật thông tin</a>
                </div>
            </div>
        </div>

        <!-- Editor -->
        <div id="editorNavItem" class="navbar-nav navbar-right d-none">
            <div class="dropdown" id="editorDropdownMenu">
                <img src="#" class="rounded-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <div class="dropdown-menu dropdown-menu-right">
                    <span id="userName" class="dropdown-item-text"></span>
                    <a class="dropdown-item" href="#">Duyệt bài viết</a>
                    <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                    <a class="dropdown-item" href="#">Cập nhật thông tin</a>
                </div>
            </div>
        </div>

        <!-- Writer -->
        <div id="writerNavItem" class="navbar-nav navbar-right d-none">
            <div class="dropdown" id="writerDropdownMenu">
                <img src="#" class="rounded-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <div class="dropdown-menu dropdown-menu-right">
                    <span id="userName" class="dropdown-item-text"></span>
                    <a class="dropdown-item" href="#">Đăng bài mới</a>
                    <a class="dropdown-item" href="#">Xem bài đã đăng</a>
                    <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                    <a class="dropdown-item" href="#">Cập nhật thông tin</a>
                </div>
            </div>
        </div>

        <!-- Administrator -->
        <div id="adminNavItem" class="navbar-nav navbar-right d-none">
            <div class="dropdown" id="adminDropdownMenu">
                <img src="#" class="rounded-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <div class="dropdown-menu dropdown-menu-right">
                    <span id="userName" class="dropdown-item-text"></span>
                    <a class="dropdown-item" href="#">Quản lý chuyên mục</a>
                    <a class="dropdown-item" href="#">Quản lý nhân viên</a>
                    <a class="dropdown-item" href="#">Quản lý bài viết</a>
                    <a class="dropdown-item" href="#">Quản lý người dùng</a>
                    <a class="dropdown-item" href="#">Đổi mật khẩu</a>
                    <a class="dropdown-item" href="#">Cập nhật thông tin</a>g</a>
                </div>
            </div>
        </div>


        <%# Gom lại phần chung của tất cả các người dùng, sau đó so sánh kiểm tra là để hiển thị khu vực 
        riêng của người đó %>
        <div id="accountNavItem" class="navbar-nav navbar-right">
            <div class="dropdown" id="accountDropdown">
                
                <%# Icon đăng nhập / Avatar thành viên %>
                <% if (false) { %>
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="fa fa-user"></span>
                    </a>
                <% } else { %>
                    <!-- Tạo Avatar random: http://pravatar.cc/ -->
                    <img src="http://i.pravatar.cc/300" class="rounded-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">
                <% }; %>

                <%# Menu dropdown %>
                <div class="dropdown-menu dropdown-menu-right">

                    <!-- Chức năng chỉ dành cho khách vãng lai -->
                    <a class="dropdown-item" href="#loginModal" data-toggle="modal">Đăng nhập</a>
                    <a class="dropdown-item" href="#signupModal" data-toggle="modal">Đăng kí</a>
                
                    <!-- Các chức năng dành cho nhóm người dùng đã đăng nhập-->
                    <div class="dropdown-item d-flex flex-row align-items-center">
                        <img src="http://i.pravatar.cc/300" class="rounded-circle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">

                        <div id="user-wrapper" class="ml-3">
                            <!-- Tên người dùng-->
                            <div id="userName" class="font-weight-bold">Tên người dùng</div>

                            <!-- Nút đăng xuất -->
                            <a class="text-success" href="#">
                                <i class="fas fa-sign-out-alt"></i>
                                <span>Đăng xuất</span>
                            </a>
                        </div>
                    </div>

                    <!-- Cập nhật thông tin - Đổi mật khẩu -->
                    <a href="/account-info/" class="dropdown-item">
                        <i class="fas fa-user-edit"></i>
                        <span>Tài khoản</span>
                    </a>

                    <!-- Chức năng dành cho subscriber -->
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-hand-holding-usd"></i>
                        <span>Gia hạn</span> 
                    </a>

                    <!-- Chức năng dành cho writer -->
                    <a class="dropdown-item" href="/new-post/">
                        <i class="fas fa-edit"></i>
                        <span>Đăng bài mới</span>
                    </a>

                    <a class="dropdown-item" href="/my-post/">
                        <i class="fas fa-newspaper"></i>
                        <span>Bài đã viết</span>
                    </a>

                    <!-- Chức năng dành cho editor -->
                    <a class="dropdown-item" href="/approve-draft/">
                        <i class="fas fa-pen-alt"></i>
                        <span>Duyệt bài viết</span>    
                    </a>
                    
                    <!-- Chức năng dành cho admin -->
                    <a class="dropdown-item" href="/admin/categories/">
                        <i class="fas fa-list"></i>
                        <span>Quản lý chuyên mục</span>    
                    </a>
                    <a class="dropdown-item" href="/admin/tags/">
                        <i class="fas fa-tags"></i>
                        <span>Quản lý nhãn</span>
                    </a>
                    <a class="dropdown-item" href="/admin/posts/">
                        <i class="fas fa-newspaper"></i>
                        <span>Quản lý bài viết</span>
                    </a>
                    <a class="dropdown-item" href="/admin/users/">
                        <i class="fas fa-users"></i> 
                        <span>Quản lý người dùng</span>
                    </a>
                                                   
                </div>
            </div>        
        </div>

    </div>
</nav>