<nav aria-label="...">
    <ul class="pagination justify-content-center mt-3">
        <% var page = {current: 1, next: 2, prev: 0 , total: 2}; %>
        <%# Nút previous %> 
        <%# page.prev là biến kiểu Number, == 0 khi không có trang trước đó %>
        <% if (page.current === 1) { %>
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
        <% } else { %>
            <li class="page-item">
                <a class="page-link" href="<%= '#' %>">Previous</a>
            </li>
        <% }; %>
            

        <%# Là trang đầu tiên %>
        <% if (page.current === 1) { %>
            <li class="page-item active">
                <span class="page-link">
                    1
                </span>
            </li>

            <% if(page.next !== 0) { %>
                <li class="page-item">
                    <a class="page-link" href="<%= '#' %>">
                        <%- page.next %>
                    </a>
                </li>
            <% }; %>            

        <!-- Là trang cuối cùng -->
        <% } else if (page.current === page.total) { %>

            <% if(page.prev !== 0) { %>
                <li class="page-item">
                    <a class="page-link" href="<%= '#' %>">
                        <%- page.prev %>
                    </a>
                </li>
            <% }; %>
            
            <li class="page-item active">
               <span class="page-link">
                    <%- page.current %>
                </span>
            </li>

        <!-- Có đủ prev và next -->
        <% } else { %>
            <li class="page-item">
               <a class="page-link" href="<%= '#' %>">
                    <%- page.prev %>
               </a>
            </li>
        
            <li class="page-item active">
                 <span class="page-link">
                    <%- page.current %>
                </span>
            </li>

            <li class="page-item">
                <a class="page-link" href="<%= '#' %>">
                    <%- page.next %>
                </a>
            </li>

        <% }; %>


        <%# Nút next %> 
        <%# page.next là biến kiểu Number, == 0 khi không có trang sau nó %>
        <% if (page.current === page.total) { %>
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
        <% } else { %>
            <li class="page-item">
                <a class="page-link" href="<%= '#' %>">Next</a>
            </li>
        <% }; %>       
    
    </ul>
</nav>