<% if (is_home()) { %>
    <% } else if (is_tag()) { %>
        <title> <%- page.tag %> </title>
    <% } else if (is_post()) { %>
        <title> <%- page.title %> </title>
    <% } else if (path === 'new-post/index.html') { %>
        <title> <%- 'Đăng bài viết' %> </title>
    <% } else if (path === 'edit-post/index.html') { %>
        <title> <%- 'Chỉnh sửa bài viết' %> </title>
    <% } else if (path === 'my-post/index.html') { %>
        <title> <%- 'Danh sách bài đã viết' %> </title>
    <% } else if (path === 'approve-draft/index.html') { %>
        <title> <%- 'Duyệt bài viết' %> </title>
<% }; %>