<% if (is_home()) { %>
        <title> <%- 'Trang chủ' %> </title>
    <% } else if (is_category()) { %>
        <title> <%- page.category %> </title>
    <% } else if (is_tag()) { %>
        <title> <%- page.tag %> </title>
    <% } else if (is_post()) { %>
        <title> <%- page.title %> </title>
    <% } else if (path === 'search/index.html') { %>
        <title> <%- `${page.keyword} - Tìm kiếm từ khóa` %> </title>
    <% } else if (path === 'account-info/index.html') { %>
        <title> <%- 'Thông tin tài khoản' %> </title>
    <% } else if (path === 'new-post/index.html') { %>
        <title> <%- 'Đăng bài viết' %> </title>
    <% } else if (path === 'edit-post/index.html') { %>
        <title> <%- 'Chỉnh sửa bài viết' %> </title>
    <% } else if (path === 'my-post/index.html') { %>
        <title> <%- 'Danh sách bài đã viết' %> </title>
    <% } else if (path === 'approve-draft/index.html') { %>
        <title> <%- 'Duyệt bài viết' %> </title>
    <% } else if (path === 'categories/index.html') { %>
        <title> <%- 'Quản lý chuyên mục' %> </title>
    <% } else if (path === 'manage-post/index.html') { %>
        <title> <%- 'Quản lý bài viết' %> </title>
    <% } else if (path === 'manage-user/index.html') { %>
        <title> <%- 'Quản lý người dùng' %> </title>
    <% } else if (path === 'manage-tag/index.html') { %>
        <title> <%- 'Quản lý nhãn' %> </title>
<% }; %>