<!DOCTYPE html>
<html lang="en">

<head>
    <!--TODO: Cần tự động đổi tên title cho phù hợp page hiện tại-->
    <title> <%- page.title %> </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


    <% if (is_home()) { %>
        <link rel="stylesheet" href="./css/menu-bar.css">
        <link rel="stylesheet" href="./css/layout.css">
    <% } else if (is_category()) { %>
        <link rel="stylesheet" href="../../css/menu-bar.css">
        <link rel="stylesheet" href="../../css/layout.css">
    <% } %>


</head>

<body>
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>

    <!-- Tái sử dụng menu bar -->
    <div id="category-menu" class="sticky-top">
        <%- partial('_partial/menu-bar', null, {cache: !config.relative_link}) %>
    </div>

    <div id="wrap">
        <div id="main" class="container">
            <%- body %>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
        </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>


    <%# Các đoạn script tự viết thêm %>
    <% if (is_home()) { %>
        <script src="./scripts/lazysizes.min.js" async=""></script>
        <script src="./scripts/menu-bar.js"></script>
    <% } else if (is_category()) { %>
        <script src="../../scripts/lazysizes.min.js" async=""></script>
        <script src="../../scripts/menu-bar.js"></script>
    <% } %>
    
</body>

</html>