<%# Template này dành cho việc hiển thị danh sách bài viết ở trang chuyên mục và tag %>
<% page.posts.each(function(post, i){ %>
<div class="d-flex">
    <div class="row no-gutters align-items-strech">
        <div class="col-4">

            <!-- Article thumbnail -->
            <div class="img-cont mr-3">
                <img data-src="<%- post.head_img %>" class="card-img lazyload" alt="...">
            </div>
        </div>
        <div class="col-8">
            <div class="">

                <!-- Article title  -->
                <a href="<%- url_for(post.path) %>" class="text-dark">
                    <h5 class="card-title"><%- post.title %></h5>
                </a>

                <!-- Article meta data -->
                <h6 class="card-subtitle mb-2 text-muted d-none d-sm-block">

                    <!-- Article category(only for tag page) -->
                    <% if (is_tag()) { %>
                        <% if (post.categories.data.length > 0) { %>
                        <% var category = post.categories.data[0]; %>
                            <a href="<%- url_for(category.path) %>" class="article-category badge badge-primary mr-3">
                                <%- category.name %>
                            </a>
                        <% }; %>
                    <% }; %>

                    <!-- Article date -->
                    <span class="article-date">
                        <i class="far fa-calendar-alt mr-1"></i>
                        <%- post.date.format(config.date_format) %>
                    </span>

                </h6>

                <!-- Article tags (only for category page) -->
                <% if (is_category()) { %>
                    <h6 class="article-tags d-none d-sm-block">
                        <i class="fas fa-tags mr-2"></i>
                        <% post.tags.data.forEach((tag) => { %>
                            <a href="<%- url_for(tag.path) %>" class="badge badge-dark">
                                <%- tag.name %>
                            </a>
                        <% }); %>
                    </h6>
                <% }; %>
                
                <!-- Article summary content -->
                <div class="card-text d-none d-md-block">
                    <%- post.abstract %>
                </div>
            </div>
        </div>
    </div>
</div>
<% }); %>

<nav aria-label="...">
    <ul class="pagination justify-content-center mt-3">
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        <li class="page-item active">
            <span class="page-link">
                1
            </span>
        </li>
        <li class="page-item"><a href="#" class="page-link">2</a>

        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>